@{
    ViewBag.Title = "ASP.NET MVC 5 Monthly Event Calendar";
}
<script src="~/Scripts/DayPilot/daypilot-all.min.js"></script>

<h2>ASP.NET MVC 5 Event Calendar</h2>



@Html.DayPilotMonth("dpm", new DayPilotMonthConfig
{
    BackendUrl = Url.Content("~/Home/Backend"),
    EventMoveHandling = DayPilot.Web.Mvc.Events.Month.EventMoveHandlingType.CallBack,
    EventResizeHandling = DayPilot.Web.Mvc.Events.Month.EventResizeHandlingType.CallBack,
    TimeRangeSelectedHandling = DayPilot.Web.Mvc.Events.Month.TimeRangeSelectedHandlingType.JavaScript,
    TimeRangeSelectedJavaScript = "dpm.timeRangeSelectedCallBack(start, end, { name: prompt('New Event Name:', 'New Event') });"
    //TimeRangeSelectedJavaScript = "dpm.timeRangeSelectedCallBack(Alku, Loppu, { name: prompt('New Event Name:', 'New Event') });"
})